<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/Crud">Crud component</a>
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/http">HTTP component</a>
  </li> -->
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/RouteForm">Route Form</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/Books">Books</a>
  </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/Home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/Products">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ReactiveForm">Reactive Form</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/TemplateForm">Template Form</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ngClass="disabled : !LoginState()" routerLink="/Login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ngClass="disabled : LoginState()" routerLink="/Logout">Logout</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" ngClass="disabled : !LoginState()" routerLink="/Login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ngClass="disabled : LoginState()" routerLink="/Logout">Logout</a>
    </li> -->
  </ul>