<p>route-form works!</p>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="f_email">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">UserName</label>
        <input type="text" class="form-control" id="exampleInputPassword1" formControlName="f_password">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>